@import '../../../assets/styles/_variables.css';

/* .card__edit-container .modal__input-container .select__container{
  width: 70%;
} */

#date_start,
#time_start,
#time_end {
  color-scheme: light;
}

#telegram__link {
  cursor: pointer;
}

.header__title {
  color: var(--accent_3);
}

.header__title svg {
  width: 80px;
  height: 80px;
  margin: 0;
}

.header__title h2 {
  margin: 0;
  color: black;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header__title h2:hover {
  color: var(--accent_3);
}

.p__link {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

#course__comment {
  color: black;
}

.table__actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
