@import '../assets/styles/_variables.css';

.btn {
  width: fit-content;
  margin: 0;
  border: none;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
  background-color: whitesmoke;
  /* box-shadow: 2px 2px 5px black; */
  transition: all 0.1s ease-in;
}

.btn:enabled:hover,
.btn:enabled:focus {
  outline: 2px solid var(--accent_3);
  color: var(--accent_3);
  box-shadow: none;
}

.btn:disabled {
  cursor: auto;
}
