@import '../assets/styles/_variables.css';

ul {
  position: relative;
  width: fit-content;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  list-style: none;
  font-size: 20px;
  text-align: center;
  color: white;
}

ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

ul li:first-child {
  box-sizing: border-box;
  position: absolute;
  left: -40px;
  top: -2px;
  padding-right: 3px;
  border-radius: 50%;
  line-height: 50px;
}

ul li:last-child {
  box-sizing: border-box;
  position: absolute;
  right: -40px;
  top: -2px;
  padding-left: 3px;
  border-radius: 50%;
  line-height: 50px;
}

ul li:first-child svg,
ul li:last-child svg {
  width: 100%;
  height: 100%;
}

ul li:hover {
  color: var(--accent_3);
}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

li[class='selected'],
li[class='selected']:hover {
  background-color: var(--accent_3);
  color: white;
}

li[class$='disabled'],
li[class$='disabled']:hover {
  pointer-events: none;
  color: rgb(150, 150, 150);
}

@media (max-width: 768px) {
  ul {
    gap: 10px;
  }
}

@media (max-width: 650px) {
  ul {
    max-width: 60%;
    font-size: 15px;
  }

  ul li:first-child svg,
  ul li:last-child svg {
    margin-bottom: 7px;
  }
}

@media (max-width: 490px) {
  ul {
    margin-top: 0;
    flex-wrap: wrap;
    background-color: transparent;
    box-shadow: none;
  }

  ul li:first-child {
    left: -30px;
    top: auto;
  }

  ul li:last-child {
    right: -30px;
    top: auto;
  }
}
