.select__container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 70px;
  height: 40px;
}

.select__box {
  font-family: 'Comfortaa', cursive;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  appearance: none;
  padding: 0 15px 0 5px;
  background-color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}

.select__container .icon__container {
  width: 35px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.icon__container svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease-in;
}

.select__container:hover svg {
  color: rgb(151, 136, 255);
  width: 100px;
}
