.header {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid white; */
}

.header p {
  margin: 0;
  margin-bottom: 10px;
}

.header img {
  display: none;
}

.exit__btn {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.exit__btn:hover {
  color: rgb(52, 121, 248);
}

/* ------------------------------ MEDIA QUERIES ----------------------- */

@media (max-width: 768px) {
  .header {
    width: 105%;
    justify-content: space-between;
  }

  .header img {
    display: block;
  }
}
