.loginform__container {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
  z-index: 1;
}
@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
}
.loginform__container.ifHidden {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.login__form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 2px rgb(52, 121, 248);
  width: 300px;
  min-height: 320px;
  max-height: fit-content;
  padding: 30px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.login__form.ifHidden {
  height: 0px;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0;
  transition: all 0.5s ease-in-out;
}
.login__username,
.login__password {
  position: relative;
}

#loginform__close {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  text-align: end;
}

#loginform__close svg {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#loginform__close svg:hover {
  font-size: 35px;
  color: red;
}

.login__form h1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
}

.loginform__inputs {
  margin-bottom: 30px;
}
.login__form input {
  font-family: 'Comfortaa';
  font-size: 1.2rem;
  border: none;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 1px solid rgb(52, 121, 248);
  padding: 0.8rem 0.6rem;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: all 0.2s ease-in;
}
.login__form input:focus {
  width: 250px;
  border-color: #ffc400ec;
}
.login__form i {
  position: absolute;
  left: 20px;
  top: 35px;
}

.isLoginComplete__error,
.isLoginComplete__success {
  position: absolute;
  top: 260px;
  margin: 0;
  margin-bottom: 10px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  gap: 10px;
  color: green;
  animation: fadeMessage 3s;
  animation-fill-mode: both;
}

@keyframes fadeMessage {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.isLoginComplete__success.hidden,
.isLoginComplete__error.hidden {
  animation: fadeout 0.3s;
  animation-fill-mode: forwards;
}

.isLoginComplete__error {
  color: red;
  font-size: 15px;
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

.login__form.ifHidden .isLoginComplete__error {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  /* display: none;   */
  /* transform: scale(0); */
}

.isLoginComplete__error svg,
.isLoginComplete__success svg {
  width: 30px;
  height: 30px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/*----------------------------- MEDIA QUERIES --------------------------*/

@media (max-width: 450px) {
  .login__form {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  #loginform__close svg {
    margin-top: 5px;
  }
}
