.modal__container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

.modal__window {
  width: 500px;
  height: fit-content;
  max-height: 70%;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  border-radius: 20px;
  background-color: rgb(0, 67, 60);
  box-shadow: 0 0 7px rgb(151, 136, 255);
  transition: all 0.5s ease-in-out;
}

.modal__window::-webkit-scrollbar {
  display: none;
}

.modal__actions {
  display: flex;
  justify-content: center;
}

/*------------------------IFHIDDEN------------------------*/

.modal__container.ifHidden {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}

.modal__window.ifHidden {
  padding: 0;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}

/*---------------------MODAL WINDOW CONTENT----------------*/

.modal__window h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.modal__inputs {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__input-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__input-container label {
  width: 30%;
  font-size: large;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
}

.modal__input-container input,
.modal__input-container textarea {
  width: 70%;
  resize: none;
  padding: 5px 10px;
  display: block;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-align: left;
  background: none;
  border: 1px solid rgb(151, 136, 255);
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease-in;
}

.modal__input-container input:focus,
.modal__input-container textarea:focus {
  border-color: #ffc400ec;
}

.modal__input-container textarea {
  height: 100px;
}

.modal__input-container textarea::-webkit-scrollbar,
.modal__input-container input[type='number']::-webkit-outer-spin-button,
.modal__input-container input[type='number']::-webkit-inner-spin-button {
  display: none;
  /* -webkit-appearance: none; */
}

/*----------------ADDITIONAL ELEMENTS--------------*/

#modal__close {
  width: 95%;
  height: 30px;
  position: absolute;
  top: 5px;
  box-sizing: border-box;
  text-align: end;
}

#modal__close svg {
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#modal__close svg:hover {
  font-size: 35px;
  color: #e74c3c;
}

/*--------------------------------ANIMATIONS, TRANSITIONS---------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
/*----------------------------- MEDIA QUERIES --------------------------*/

@media (max-width: 768px) {
  .modal__window {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 495px) {
  .modal__window h1 {
    font-size: 25px;
  }

  .modal__input-container label {
    font-size: small;
  }

  .modal__input-container select,
  .modal__input-container input,
  .modal__input-container textarea {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .modal__window {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 30px;
  }

  #modal__close svg {
    margin-top: 5px;
  }
}
