/* .card__edit-container .modal__input-container .select__container{
  width: 70%;
} */

#telegram__link {
  cursor: pointer;
}

.header__title svg {
  width: 80px;
  height: 80px;
  margin: 0;
}

.header__title h2 {
  margin: 0;
  color: black;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.p__link {
  font-weight: 700;
  text-decoration: underline;
}
