.content__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.table__actions-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.table__box {
  width: 100%;
}

.modal__input-container:nth-child(4) input {
  margin-right: 0;
}

.discount__wrapper {
  width: 75%;
  display: flex;
  justify-content: stretch;
  gap: 5px;
}

#filter__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*------------------------ MEDIA QUERIES -------------------- */

@media (max-width: 1150px) {
  .table__box {
    overflow: auto;
  }

  .table__box::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 440px) {
  .table__actions-box {
    gap: 30px;
  }

  .table__actions-box button {
    font-size: medium;
    padding: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 400px) {
  /* .table__actions-box {
    gap: 15px;
  } */
}
