@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.App {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  color: #fff;
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 235px;
  /* border: 1px solid blue; */
  width: 80%;
  min-width: 50%;
  padding: 0 20px;
  overflow: hidden;
}

.table__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  overflow: auto;
}

#hello-text {
  max-width: 900px;
  word-break: break-all;
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 1100ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 1100ms;
}

input[type='date'],
input[type='time'] {
  color-scheme: dark;
}
/* ----------------------------- MEDIA QUERIES ---------------------------- */

@media (max-width: 835px) {
  .content {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .App {
    justify-content: center;
  }
  .content {
    min-width: 90%;
    height: 70%;
    margin-bottom: 75px;
    margin-left: 10px;
  }
}
@media (max-width: 460px) {
  .content {
    min-width: 85%;
    max-width: 70%;
  }
}
